/* Hamburger Container */
.hamburger-container {
    position: relative; /* Needed for positioning the menu relative to the button */
    margin-left: 12rem;
}

/* Side Menu */
.side-menu {
    position: absolute;
    top: calc(100% + 12px); /* Position below the button with a small gap */
    right: calc(0% + 14px); /* Align to the right edge of the toggle button */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #333;
    border-color: #999;
    padding: 1rem 1rem;
    width: 12.5rem; /* Set a fixed width for the menu */
    z-index: 1000;
}

/* Menu Links */
.menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-links li {
    margin: 0;
}

.menu-links a, .menu-logout {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
}

.menu-links a:hover, .menu-logout:hover {
    border-radius: 10px;
    background-color: #fff7e4;
}

/* Logout Button Styling */
.menu-logout {
    background: #ececec;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    margin-top: 1%;
}
