/* Hamburger Container */
.hamburger-container {
    position: relative; /* Needed for positioning the menu relative to the button */
    margin-left: 12rem;
}

/* Side Menu */
.side-menu {
    position: absolute;
    align-items: center;
    top: calc(100% + 0.7rem);
    right: calc(0% + 0.2rem); 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: 1px solid #dbd9d9;
    padding: 1rem 0.4rem;
    padding-right: 0.8rem;
    width: 12.5rem; /* Set a fixed width for the menu */
    z-index: 1000;
}

/* Menu Links */
.menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-links li {
    margin: 0;
}

.menu-links a, .menu-logout {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    display: block;
    padding: 10px 1rem;
    transition: background-color 0.2s ease-in-out;
}

.menu-links a:hover, .menu-logout:hover {
    border-radius: 0.4rem;
    background-color: #fff7e4;
    margin-left: 0.4rem;
}

/* Logout Button Styling */
.menu-logout {
    background: #ececec;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    margin-top: 1%;
}
