.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Ensure pages respect header height */
.main-content {
  margin-top: 30px; /* Adjust to match the header's height */
  padding: 40px; /* Optional padding for content */
}

/* ----__________________________Header styling___________________________--- */
.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1); /* Color & transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1000;
  margin-bottom: 2rem;
}

.header-spacer {
  height: 5rem; /* Match the header's height */
  width: 100%; /* Full width to align with content */
}

.header .logo {
  width: 2.5rem;
  height: auto;
  margin-left: 45%;
  margin-right: 15%; 
}

.header .title-container {
  display: flex;
  align-items: center;
  gap: 5%;
}

.header .app-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #d58f0d;
  margin: 0;
}

.header-btn {
  background-color: #f4a318;
  color: white;
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
}

.header-btn:hover {
  background-color: #b23f01;
}
@media (max-width: 480px) {
  .header {
    width: 100%;
    height: 3.4rem;
    padding: 0.625px 1.25px;
    align-items: center;
    justify-content: space-between;
    }
  
    .header-spacer {
      height: 3.4rem; /* Match the header's height */
      width: 100%; /* Full width to align with content */
    }
    
    .header .logo {
      width: 2.2rem;
      height: auto;
      margin-left: 15%;
      margin-right: 5%; 
    }
    
    .header .title-container {
      gap: 5%;
    }
    
    .header .app-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
    
    .header-btn {
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      margin-right: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 769px) {
  .header {
    width: 100%;
    height: 3.8rem;
    padding: 0.625px 1.25px;
    align-items: center;
    justify-content: space-between;
    }
  
    .header-spacer {
      height: 3.4rem; /* Match the header's height */
      width: 100%; /* Full width to align with content */
    }
    
    .header .logo {
      width: 2.4rem;
      height: auto;
      margin-left: 25%;
      margin-right: 10%; 
    }
    
    .header .title-container {
      gap: 5%;
    }
    
    .header .app-title {
      font-size: 1.4rem;
      font-weight: bold;
    }
    
    .header-btn {
      padding: 0.5rem 1.1rem;
      font-size: 1rem;
      margin-right: 1.4rem;
    }
}

/* __________________Notifications__________________ */

.notification-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  width: 100%;
}

.notification {
  position: fixed;
  bottom: 3%;
  background-color: #e9b546;
  color: white;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  z-index: 1001;
  animation: fadeInOut 3s ease-in-out;
}

/* Optional: Fade-in and fade-out animation */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}